@use "../../../../styles/variables.scss" as *;
$border-design: .125rem solid #a0a0a0;

.PaymentCreation {
    &__form {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        /* SUPPORT FOR iOS 14 below */
        @supports (-webkit-touch-callout: none) and (not (translate: none)) {
            /* FOR FLEXBOX GAP SUPPORT */
            & > *:not(:last-child) {
                margin-bottom: 1rem;
            }
        }

        .row-4, .row-5 {
            display: flex;
            flex-direction: row;
            column-gap: 1rem;

            /* SUPPORT FOR iOS 14 below */
            @supports (-webkit-touch-callout: none) and (not (translate: none)) {
                /* FOR FLEXBOX GAP SUPPORT */
                & > *:not(:last-child) {
                    margin-right: 1rem;
                }
            }

            .paymentMethod {
                min-width: 18rem;
            }
        }

        .form_buttons {
            display: flex;
            flex-direction: row;
            column-gap: 2rem;
            margin: 1rem auto 0 auto;
            width: 100%;
            justify-content: center;
        }
    }

    .account {
        border: $border-design;
        width: fit-content;
        border-radius: .5rem;
        margin-bottom: 1.5rem;
    
        &__table {
            border: $border-design;
            border-collapse: collapse;
            border-radius: .5rem;
            overflow: hidden;
    
            tbody {
                tr {
                    border: $border-design;
    
                    th {
                        background-color: $color--table-header;
                        padding: 0.5rem 1rem;
                    }
    
                    td {
                        background-color: $color--light-gray;
                        border: $border-design;
                        padding: 0.5rem 1rem;
                    }
                }
            }
        }
    }

    @media (max-width: 992px) {
        &__form {
            .form_buttons {
                column-gap: 1rem;
            }

            .row-4, .row-5 {
                flex-direction: column;
                row-gap: 1rem;

                /* SUPPORT FOR iOS 14 below */
                @supports (-webkit-touch-callout: none) and (not (translate: none)) {
                    /* FOR FLEXBOX GAP SUPPORT */
                    & > *:not(:last-child) {
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }
}