@use "../../../../styles/variables.scss" as *;
.Batch {
    &__details {
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        column-gap: 3rem;

        /* SUPPORT FOR iOS 14 below */
        @supports (-webkit-touch-callout: none) and (not (translate: none)) {
            /* FOR FLEXBOX GAP SUPPORT */
            & > *:not(:last-child) {
                margin-right: 3rem;
            }
        }
        
        .name {
            margin-bottom: 1rem;
        }

        .field {
            font-weight: 700;
            color: $color--secondary;
        }
    }

    &__trainees {
        margin-top: 2rem;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;

        .trainees {
            flex-grow: 1;
            position: relative;
            margin-top: 1rem;
            min-height: 18.75rem;
        }

        .trainees__table {
            flex-grow: 1;
            height: 100%;
            position: absolute;
            left: 0;
            right: 0;
        }
    }
}