@use "../../../styles/variables.scss" as *;

.InputRadio {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;

    /* SUPPORT FOR iOS 14 below */
    @supports (-webkit-touch-callout: none) and (not (translate: none)) {
        /* FOR FLEXBOX GAP SUPPORT */
        & > *:not(:last-child) {
            margin-right: 1rem;
        }
    }
}