@use '../../../../../styles/variables.scss' as *;

.TraineeRegistrationModal {
    &__name {
        margin-bottom: 0.3rem;
    }

    &__details {
        display: flex;
        flex-direction: row;
        column-gap: 3rem;

        /* SUPPORT FOR iOS 14 below */
        @supports (-webkit-touch-callout: none) and (not (translate: none)) {
            /* FOR FLEXBOX GAP SUPPORT */
            & > *:not(:last-child) {
                margin-right: 3rem;
            }
        }

        .field {
            font-weight: 700;
            color: $color--secondary;
        }

        .title {
            margin-top: 1rem;
            font-weight: 700;
            font-style: italic;
            margin-bottom: 0.5rem;
        }

        .registration-details, .licenses-details {
            display: flex;
            flex-direction: column;
            row-gap: 0.5rem;

            /* SUPPORT FOR iOS 14 below */
            @supports (-webkit-touch-callout: none) and (not (translate: none)) {
                /* FOR FLEXBOX GAP SUPPORT */
                & > *:not(:last-child) {
                    margin-bottom: 0.5rem;
                }
            }
        }

        @media (max-width: 992px) {
            flex-direction: column;
            row-gap: 1rem;

            /* SUPPORT FOR iOS 14 below */
            @supports (-webkit-touch-callout: none) and (not (translate: none)) {
                /* FOR FLEXBOX GAP SUPPORT */
                & > *:not(:last-child) {
                    margin-bottom: 1rem;
                }
            }
        }
    }
}