@use "../../../styles/variables.scss" as *;

.InputTextArea {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;

    &__label {
        font-weight: $font-weight--h1;
    }

    &__textarea {
        resize: none;
        padding: 0.625rem 1.25rem;
        background-color: $color--input-boxes;
        border: none;
        border-radius: 8px;

        &:focus-visible {
            outline: $color--primary auto 1px;
        }
    }
}