@use "../../../styles/variables.scss" as *;

.container {
    display: flex;
    // align-items: center;
    min-height: 100vh;
    height: 100%;
    padding: 3rem 1rem;
}
.BubblePageCourse {
    overflow: hidden;
    margin-left: $SideBarWidth;
    width: 100%;
    min-height: 93%;
    background: $color--white;
    border-radius: 1.5625rem;
    

    @media (max-width: 768px) {
        margin-left: 0;
    }

    .bubble-container {
        padding: 0rem 5rem;
    }
}

.image {
    object-fit: cover;
    width: 100%;
    min-height: 30vh;
    background-image: url("../../../assets/images/GuardHeader.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0px -120px 60px -29px #FFFFFF;
}
