@use "../../../styles/variables.scss" as *;

.container {
    display: flex;
    // align-items: center;
    min-height: 100vh;
    height: 100%;
    padding: 3rem 1rem;

}
.BubblePageCourse {
    margin-left: $SideBarWidth;
    width: 100%;
    min-height: 93%;
    background: $color--white;
    border-radius: 1.5625rem;
    padding: 3.125rem 5rem;

    @media (max-width: 768px) {
        margin-left: 0;
    }
}

.BubblePageCourse {

   background-image: url(../../../assets/images/GuardHeader.png);
    box-shadow: inset 0px -500px 60px -29px #FFFFFF;
   background-position-y: -41px ;
     background-repeat: no-repeat;
}
