@import '../../../../styles/variables.scss';

.DashboardCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem 1.5rem;
    justify-items: center;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 612px;

    a {
        text-decoration: none;
    }
}