@use "../../../styles/variables.scss" as *;

.ActionButton {
    padding: .5rem .75rem;
    border-radius: .25rem;
    border: none;
    display: flex;
    flex-direction: row;
    gap: .375rem;
    align-items: center;
    cursor: pointer;

    font-size: $font-size--body-2;

    /* SUPPORT FOR iOS 14 below */
    @supports (-webkit-touch-callout: none) and (not (translate: none)) {
        /* FOR FLEXBOX GAP SUPPORT */
        & > *:not(:last-child) {
            margin-right: 5%;
        }
    }

    &.view {
        background-color: $color--light-accent;
    }

    &.edit {
        background-color: $color--light-gray;
    }

    &.delete {
        background-color: $color--light-red;
    }
}