
.course_name{
    align-items: center;
};

.offered-course{
    font-style: bold;
}

.course {
    &__header-actions {
        margin-bottom: 1.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        column-gap: 1rem;

        /* SUPPORT FOR iOS 14 below */
        @supports (-webkit-touch-callout: none) and (not (translate: none)) {
            /* FOR FLEXBOX GAP SUPPORT */
            & > *:not(:last-child) {
                margin-right: 1rem;
            }
        }

        .action-buttons {
            display: flex;
            flex-direction: row;
            column-gap: 1rem;

            /* SUPPORT FOR iOS 14 below */
            @supports (-webkit-touch-callout: none) and (not (translate: none)) {
                /* FOR FLEXBOX GAP SUPPORT */
                & > *:not(:last-child) {
                    margin-right: 1rem;
                }
            }
        }
    }
}