@import '../../../styles/variables.scss';

.Dashboard {
    margin-left: 12.75rem;
    margin-top: 3rem;

    display: flex;
    flex-direction: column;
    gap: 2.125rem;

    &__cards {
        display: flex;
        flex-direction: column;
        gap: 2.125rem;
        align-items: center;

        .title {
            padding-bottom: 6px;
            border-bottom: solid 3px;
        }
    }
}

@media (max-width: 768px) {
    .Dashboard {
        margin-left: 0;
        margin-top: 3rem;
    }
}