@use "../../../styles/variables.scss" as *;

.container {
    display: flex;
    align-items: center;
    height: 100vh;
}
.BubblePage {
    margin-left: $SideBarWidth;
    width: 100%;
    height: 93vh;
    background: $color--white;
    border-radius: 1.5625rem;
    padding: 3.125rem 5rem;

    @media (max-width: 768px) {
        margin-left: 0;
    }
}