@use "../../../styles/variables.scss" as *;

.container {
    display: flex;
    // align-items: center;
    min-height: 100vh;
    height: 100%;
    padding: 3rem 1rem;
}
.BubblePage {
    margin-left: $SideBarWidth;
    width: 100%;
    min-height: 93%;
    background: $color--white;
    border-radius: 1.5625rem;
    padding: 3.125rem 5rem;

    @media (max-width: 768px) {
        margin-left: 0;
    }
}