@import "../../../styles/variables.scss";

.InputField {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &__label {
        font-weight: $font-weight--h1;
    }

    &__input {
        padding: 0.625rem 1.25rem;
        background-color: $color--input-boxes;
        border: none;
        border-radius: 8px;

        &:focus-visible {
            outline: $color--primary auto 1px;
        }
    }

    /* VARIANT */
    &.traineeID {
        flex-direction: row;
        align-items: center;
        width:fit-content;

        .InputField__label {
            white-space: nowrap;
            width: 100%;
        }

        .InputField__input {
            max-width: 8rem;
            width: 100%;
        }
    }
}